body {
  background-color: rgb(199, 200, 190);
}
form h2 {
  font-family: 'Merriweather';
  font-weight: 700;
}
.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  background-size: cover;
  color: rgb(199, 200, 190);
}
#header {
  background-image: url("images/header.jpg");
}
#groups_header {
  background-image: url("images/backdrop.jpg");
}
.header-div {
  width: 50%;
  float: right;
}
.mynav {
  font-size: 20px;
}
#navbar *{
  color: rgb(14, 32, 55);
  font-family: 'Merriweather';
  font-size: 18px;
}
.field {
  width: 250px;
  padding: 5px 5px;
  margin: 8px 0;
  color: rgb(14, 32, 55);
}
.input-item {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 0;
}
.loginglyph {
  top: 10px;
}
.button1 {
  background-color: rgb(199, 200, 190);
  color: rgb(14, 32, 55);
}
.alert {
  width: 285px;
  margin-left: 15px;
}
.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  font-size: 22px;
  line-height: 20px;
}
.closebtn:hover {
  color: black;
}
#groupdesc {
  width: 100%;
}
#groupformbtn {
  margin-top: 20px;
}
.createbtn {
  padding-bottom: 10px;
}
