{% extends "Ami/_base.html" %}

{% block pre %}
<div class="container">
  <h1>{{ group.name }}</h1>
  <h2>Member Count: {{ members|length }}</h2>

  <div class="content">
    <form action="{% url 'view-group' slug=group.slug %}" method="POST">
      {% csrf_token %}
      <br>
      {% if user in members %}
      <button class='btn button2 btn-lg' name="leave" value="true">
        <span class="glyphicon glyphicon-remove-circle"></span>Leave</a>
      {% else %}
      <button class='btn button2 btn-lg' name="join" value="true">
        <span class="glyphicon glyphicon-ok-circle"></span>Join</a>
      {% endif %}
    </form>
  </div>

</div>
{% endblock %}

{% block content %}
{% comment %}
  <!-- <div class="col-md-8">
    {% if group.posts.count == 0 %}
      <h2>No posts in this group yet!</h2>
    {% else %}
      {% for post in group.posts.all %}
        {% include "Ami/_posts.html" %}
      {% endfor %}
    {% endif %}
  </div> -->
{% endcomment %}
{% endblock %}
