{% extends "Ami/groups_base.html" %}

{% block group_content %}
<h3>Create a new group!</h3>
  <form action="{% url 'create-group' %}" method="post" id="groupForm">
    {% csrf_token %}
    <label for="groupname"></label>
    <br>
    <input id="groupname" name="groupname" type="text" class="field" placeholder="Enter a Group Name" required>
    <br>
    <label for="groupdesc"></label>
    <br>
    <textarea id="groupdesc" class="field" name="groupdesc" rows="8" cols="80" required></textarea>
    <br>
    <input id="groupformbtn" type="submit" class="btn btn-primary btn-large" value="Create">
  </form>
{% endblock %}
