{% extends "Ami/base.html" %}
{% block header_content %}
  <div class="container login-form header-div">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <h2>Login</h2>
      <h3>Welcome back! Login to access your account.</h3>
      <br>
      <div class="container form-field">
        <span class="input-item">
           <i class="glyphicon glyphicon-user loginglyph"></i>
         </span>
        <input class="field" id="txt-input" type="text" placeholder="@UserName" name="username" required>
      </div>
      <br>
      <div class="container form-field">
        <span class="input-item">
          <i class="glyphicon glyphicon-lock loginglyph"></i>
        </span>
        <input class="field" type="password" placeholder="Password" id="pwd"  name="password" required>
      </div>
      <br>
      <div class="container form-field">
        <input type="submit" class="btn button1" value="Login">
      </div>
      <br>
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}
