{% extends "Ami/_base.html" %}
{% block content %}
<div class="container">
  <h3>Create a new Post</h3>
  <form id="postForm" action="{% url 'create-post' %}" method="post" id="groupForm">
      {% csrf_token %}
      <label for="postmessage"></label>
      <br>
      <textarea id="postmessage" class="field" placeholder="Enter message to post." rows="8" cols="180" required></textarea>
      <br>
      <label for="groupnames"></label>
      <br>
      <select class="btn button2 dropbtn btn-lg" name="groupnames">
        {% for group in groups %}
          <option>{{ group.name }}</option>
        {% endfor %}
      </select>
      <br>
      <input id="formbtn" type="submit" class="btn button1" value="Post">
  </form>
</div>
{% endblock %}
